
<h1>Our Team</h1>

<div class="team">
  <h4>Name: <%= @team.name %> </h4> 
  <h4>Team Motto: <%= @team.motto %> </h4>
</div><br>

<div class="members">
<p> <%= @team.members.size  %> </p>
  <% @members.each do |member| %>
    <div class="member">
      <p>Hero Name: <%= member.name %> </p> 
      <p>Hero Power: <%= member.power %> </p> 
      <p>Hero Biography: <%= member.bio %> </p> 
  
    </div>
  <% end %>
</div><br>

