<h2>Team Name: <%= @team.name %><h2>
<h2>Team Motto: <%= @team.motto %><h2>

<% @members.each_with_index do |member, i| %>
    <h3>Hero <%= i+1 %>:</h3>
    <p>Hero Name: <%= member.name %></p>
    <p>Hero Power: <%= member.power %></p>
    <p>Hero Biography: <%= member.bio %></p>
<% end %>

